<div class="mainblock-index">
  <h1>Witaj na naszej stronie.</br>Zaloguj się lub zarejestruj aby korzystać z materiałów</h1></h1>
  <div class="btn-login-sign-up">
    <a class="btn btn-login" href="/loginform">Zaloguj się</a>
    <a class="btn btn-sign-up" href="/registerform">Zarejestruj się</a>
  </div>
</div>
